.theme-dark {
  --text-normal: #f4f4f4;
  --background-primary: #171d20;
  --background-secondary: #171d20;
  --background-secondary-alt: #273034;
  --background-tertiary: #171d20
  --background-floating: #171d20;
  --background-accent: #1ed760;
  --channeltextarea-background: #171d20;
  --interactive-normal: #b3b3b3;
  --interactive-hover: #fff;
  --deprecated-quickswitcher-input-background: #313131;
}

/*Ditch Light Theme*/
.theme-light {
  --header-primary: #fff;
  --header-secondary: #f4f4f4;
  --text-normal: #f4f4f4;
  --background-primary: #121212;
  --background-secondary: #1e2529;
  --background-secondary-alt: #282828;
  --background-tertiary: #000;
  --background-floating: #282828;
  --background-accent: #1ed760;
  --channeltextarea-background: #1e2529;
  --deprecated-quickswitcher-input-background: #313131;
  --interactive-normal: #b3b3b3;
  --interactive-hover: #fff;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
}